@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

body {
    font: 16px Poppins;
    color: #414042;
    background: #F9F9F9;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 100px 0px 0px 0px;
    min-height: 100vh;
    min-width: 960px;
    /* overflow-x: hidden znamená, že zmizí spodní scrollbar! */
    /* overflow-x: hidden; */

}

body > header {
    height: 100px;
    width: 100%;
    background: #00386B;
    color: white;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
}

#logo {
    height: 40px;
    margin: auto 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(img/logo.svg) no-repeat;
    background-size: 40px 40px;
}

#logo > * {
    margin: 0 0 0 50px;
}

#logo h1 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
    color: white;
}

#logo h1 span {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    padding: 0 25px;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.3em;
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul a:hover, .aktivni a {
    border-bottom: 2px solid #EF6534;
}

.kontakt-tlacitko {
    background: #EF6534;
    padding: 10px 20px;
    border-radius: 20px;
}

.kontakt-tlacitko:hover,
.projekty-tlacitko:hover {
    filter: brightness(115%) contrast(85%);
    border: 0;
}

article {
    flex: 1;
    padding: 80px 50px;
}

#centrovac {
    margin: 0 auto;
    max-width: 960px;
}

.domu-article {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px max-content;
}

.domu-article img {
    width: 300px;
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column: 2;
    border: 10px solid #00386B;
}

article header {
    height: 100px;
}

article h1,
/* article h2, */
article h3,
article h4,
article h5,
article h6 {
    color: #00386B;
    width: max-content;
    padding: 10px 0;
}

article h2 {
    padding-top: 40px;
    color: #00386B;
    width: max-content;
}

h3 {
    font-size: 1.5em;
    /* border-bottom: 4px solid #EF6534; */
}



article h1 {
    margin: 0;
    font-size: 2.3em;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 4px solid #EF6534;
}

article h2 {
    font-size: 2em;
}

article section p {
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

article section a {
    color: #EF6534;
}

.projekty-tlacitko {
    background: #70B73A;
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
}

img {
    width: 300px;
}

footer {
    color: white;
    background: #414042;
    padding: 51px 0 35px 0;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
    /* předěláno na flex */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.vlevo {
    float: left;
    width: 30px;
    padding-right: 20px;
}

.cistic {
    clear: both;
}

.mojefoto {
    margin-left: 40px;
    border-radius: 20px 20px 20px 20px;
}

/* Sekce O mně */
.CV1 {
    margin-top: 25px;
    height: 1500px;
    width:1060px;
}

.CV2 {
    height: 1500px;
    width:1060px;
}

/* Sekce Dovednosti */
.dovednost-item {
    display: flex;
    margin: 40px 0;
}

.dovednosti img {
    width: 109px;
    height: 109px;
    display: block;
    flex-wrap: wrap;
    padding-right: 30px;
}

.dovednosti p {
    display: block;
    margin: 0;
}

.studium-item {
    display: flex;
    margin: 40px 0;
}

.studium img {
    width: 109px;
    height: 109px;
    display: block;
    flex-wrap: wrap;
    padding-right: 30px;
}


/* Třída s vlastností pro ztučnění písma */
.tucne {
    font-weight: bold;
}

/* Tabulka s ostatními kurzy v sekci Dovednosti */
table {
    margin-top: 30px;
    width: 65%;
    box-shadow: 3px 3px 6px #999999;
}

th {
    border: 3px solid #646f78;
    padding: 5px 0; 
    font: 18px Poppins;
    font-weight: bold;
    background-color: #ff946df7;;
    /* color: #00386B; */
}

td {
    border-bottom: 1px solid #646f78;
    border-right: 1px solid #646f78;
    border-left: 1px solid #646f78;
    padding: 2px 50px;
}

.podekovani {
    margin-top: 40px;
}


/* Sekce Projekty */
#projekty {
    display: flex;
    justify-content: space-evenly;
}

#projekty img {
    border: 1px solid gray;
    box-shadow: 3px 3px 6px #999999;
    /* margin-right: 30px; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    margin-top: 18px;
}

.popisprojektu-item {
    display: flex;
    /* margin: 40px 0; */
}

.popisprojektu img {
    width: 109px;
    height: 109px;
    display: block;
    flex-wrap: wrap;
    padding-right: 30px;
}


/* Sekce Certifikáty */

#certifikaty {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#certifikaty img {
    border: 1px solid gray;
    box-shadow: 3px 3px 6px #999999;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* -------PRAVIDLA PRO RESPONZIVITU WEBU - pro mobilní zařízení/tablety-------- */

@media (max-width: 1117px) {

    /* Sekce O mně */
    .CV1 {
        margin-top: 25px;
        height: 1315px;
        width: 930px;
    }
    
    .CV2 {
        height: 1315px;
        width: 930px;
    } 
}

@media (max-width: 1042px) {   
    nav ul li {
        margin: 0;
    }
    
    /* Sekce O mně */
    .CV1 {
        margin-top: 25px;
        height: 1273px;
        width: 900px;
    }
    
    .CV2 {
        height: 1273px;
        width: 900px;
    } 
}

@media (max-width: 992px) {

    #logo {
        margin: auto 0 auto 0px;
    }

    header {
        flex-wrap: wrap;
    }

    .projekty-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .projekty-nahled {
        flex-wrap: wrap;
    }

    /* Sekce Dovednosti */
    article h2 {
        padding-top: 0;
    }

    .dovednosti-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .certifikaty-item {
        flex-wrap: wrap;
        width: 86%;
    }

    .dovednosti-header {
        margin-top: 10px;
    }

    .dovednost-item {
        flex-wrap: wrap;
        width: 86%;
        margin-top: 20px;
    }

    .dovednosti img {
        margin-bottom: 20px;
    }

    .studium-item {
        flex-wrap: wrap;
        width: 86%;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .studium img {
        margin-bottom: 20px;
    }

    .ostatni-kurzy-header {
        height: 85px;
    }

    .ostatni-kurzy-nadpis {
        margin-bottom: 0;
    }

    .ostatni-kurzy-item {
        flex-wrap: wrap;
        width: 86%;
    }

    .ostatni-kurzy-odstavec {
        margin-top: 0;
    }

    /*  Sekce Projekty */
    article h3 {
        margin-top: 0;
    }

    .popis-projektu-header {
        height: 75px;
        margin-top: 30px;
    }
}

@media (max-width: 971.5px) {

    #logo {
        margin: 15px 0 auto 0px;
    }

    header {
        flex-wrap: wrap;
    }
    
    /* ZKONTROLOVAT NA GITHUB */
    body > header {
        height: 131px;
    }
}

@media (max-width: 946px) {

    .CV1 {
        margin-top: 25px;
        height: 1231px;
        width: 870px;
    }
    
    .CV2 {
        height: 1231px;
        width: 870px;
    } 

}

@media (max-width: 917px) {

    /* Sekce O mně*/
    .CV1 {
        margin-top: 25px;
        height: 1160px;
        width: 820px;
    }
    
    .CV2 {
        height: 1160px;
        width: 820px;
    } 

    .omne-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .omne-item {
        flex-wrap: wrap;
        width: 88%;
    }

    /* Sekce Domů*/
    .domu-article {
        display: grid;
        grid-template-columns: 84%;
        grid-template-rows: max-content max-content;
    }
    
    .domu-article img {
        width: 40%;
        grid-row-start: 2;
        grid-row-end: span 2;
        grid-column: 1;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /* Sekce Projekty */
    .projekty-item {
        flex-wrap: wrap;
        width: 72%;
    }

    /* Sekce Kontakt */
    .kontakt-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .kontakt-item {
        flex-wrap: wrap;
        width: 80%;
    }
}

@media (max-width: 862px) {

    .CV1 {
        margin-top: 25px;
        height: 1103px;
        width: 780px;
    }
    
    .CV2 {
        height: 1103px;
        width: 780px;
    } 

    .popis-projektu-header {
        margin-top: 50px;
    } 
}

@media (max-width: 827px) {

    /* Sekce Domů */
    .domu-article {
        grid-template-columns: 76%;
    }
    
    /* Sekce O mně */
    .CV1 {
        margin-top: 25px;
        height: 919px;
        width: 650px;
    }
    
    .CV2 {
        height: 919px;
        width: 650px;
    } 

    .omne-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .omne-item {
        flex-wrap: wrap;
        width: 70%;
    } 

    .certifikaty-item {
        width: 75%;
    }

    .dovednost-item {
        flex-wrap: wrap;
        width: 75%;
        margin-top: 20px;
    }

    .dovednosti img {
        margin-bottom: 20px;
    }

    .studium-item {
        flex-wrap: wrap;
        width: 75%;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .ostatni-kurzy-item {
        width: 75%;
    }

}

@media (max-width: 768px) {
    .kontakt-item {
        width: 70%;
    }

    .footer-item {
        margin-right: 20%;
    } 
}

@media (max-width: 718px) {

    /* Sekce Domů */
    .domu-article {
        grid-template-columns: 70%;
    }

    /* Sekce O mně */
    .omne-item {
        width: 69%;
    }

    /* Sekce Dovednosti */
    .certifikaty-item {
        width: 72%;
    }

    .dovednost-item {
        width: 72%;
    }

    .studium-item {
        width: 72%;
    }

    .ostatni-kurzy-item {
        width: 72%;
    }
}

@media (max-width: 697px) {

    nav ul li {
        padding: 0px 17px;
    }

    /* Sekce O mně */
    .CV1 {
        margin-top: 25px;
        height: 707px;
        width: 500px;
    }
    
    .CV2 {
        height: 707px;
        width: 500px;
    } 

    /* Sekce Projekty */
    .projekty-item {
        width: 68%;
    }

    /* Sekce Dovednosti */
    .certifikaty-item {
        width: 68%;
    }

    .dovednost-item {
        width: 68%;
    }

    .studium-item {
        width: 68%;
    }

    .ostatni-kurzy-item {
        width: 68%;
    }

    /* Sekce Kontakt */
    .kontakt-item {
        width: 67%;
    }
}

@media (max-width: 652px) {
    .domu-article {
        grid-template-columns: 65%;
    }
}

@media (max-width: 643px) {

    nav ul li {
        padding: 0px 10px;
    }

    section {
        margin-top: 0;
    }

    /* Sekce Domů */
    .domu-article {
        grid-template-columns: 55%;
    }
    
    /* Sekce O mně */
    .omne-item {
        width: 58%;
    }

    .CV1 {
        margin-top: 25px;
    }

    /* Sekce Dovednosti */
    .certifikaty-item {
        width: 55%;
    }

    .dovednost-item {
        width: 55%;
    }

    .studium-item {
        width: 55%;
    }

    .ostatni-kurzy-item {
        width: 55%;
    }

    /* Sekce Projekty */
    .projekty-item {
        width: 55%;
    }

    .projekty-nahled {
        width: 55%;
        margin-left: 7%;;
    }

    .projekty-nahled img {
        margin-bottom: 20px;
    }

    /* Sekce Kontakt */
    .kontakt-item {
        width: 58%;
    }
  
    /* Footer */
    .footer-item {
        margin-right: 42%;
    }
}

@media (max-width: 543px) {
    nav ul li {
        padding: 0 2px;
    }

    body > header {
        height: 130px;
    }
}